#siteHeader{
    font-weight: bold;
    font-size: 2em;
    color: orange;
}

#search{
    padding-bottom: 20px;
    min-height: 20px;
}

#searchContainer{
    float: left;
    clear: left;
}

.item{
    border: 2px solid black;
    border-radius: 10px;
    width: 100px;
    margin: 2px;
    padding: 5px;
    float: left;
    min-width: 300px;
    min-height:550px;
}

.name{
    font-weight: bold;
    font-size: 2em;
}

.price{
    color: green;
}

.description{
    font-style: italic;
    font-size:0.9em;
}

.buyContainer{
    float: right;
}

#shoppingCart{
    float: left;
    clear: left;
    margin-top: 20px;
    border: 1px dashed rgb(200, 200, 50);
    min-width: 200px;
    min-height: 60px;
}

#cart{
    text-align: center;
    border-bottom: 1px solid rgba(127,127,127,0.5);
    padding: 0px 5px;
}

.remove{
    margin-left: 10px;
    color: red;
}

.bold{
    font-weight: bold;
}

#totalPrice{
    float: right;
    margin-right: 16px
}