!!! 5
html
	head
		title='RedDress'
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js')
		script(src='javascripts/bb_app.js')
	body
		#posts_container
			ul#posts_list
			form#search_posts
				input(type="text", name="search_posts")
				input(type="checkbox", name="just_top", checked="checked")
				Single Result?
				input(type="submit", value="Search")
			form#new_post_form
				input(type="text", name="new_post")
				input(type="submit", value="Post")
			form#remove_posts
				input(type="text", name="remove_posts")
				input(type="submit", value="Remove")